@use "./base";
@use "./abstracts" as var; /* Set root font-size @10px equivalent */

body {
  background: var.$backgroundColor;
  color: white;
  height: 100vh;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}

#root {
  height: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: var.$titreColor;
}

h2 {
  color: var.$titreColor;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

.questionNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

#number {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin-inline: auto;
  background: rgba(98, 116, 248, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  color: white;
  padding: 0.5em;
  border: transparent;
  border-radius: 2em;
}

.card-container {
  background: rgba(50, 23, 125, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 5%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 1em;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em;
  margin-bottom: 3em;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em;
  margin-top: 3em;

  .btn-prev,
  .btn-next {
    height: 50px;
    width: 50px;
    background: rgba(98, 116, 248, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    color: white;
    padding: 0.5em;
    border: transparent;
    border-radius: 2em;
  }

  .btn-prev {
    transform: rotate(180deg);
  }
}

.question {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  max-width: 85%;
  margin-inline: auto;
  margin-bottom: 2em;
  font-weight: 300;
}

.answer-container {
  width: 75%;
  margin-inline: auto;
  ul {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 2em;
    column-gap: 1.5em;

    li {
      list-style: none;
      background: var.$titreColor;
      padding: 1.5em;
      border-radius: 4rem;
      text-align: center;
      font-size: 2rem;
      color: var.$cardColor;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      border: 1px solid transparent;

      &:hover {
        background: rgba(31, 17, 71, 0.8);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: var.$titreColor;
      }
    }
  }
}
