@use "./base";
@use "./abstracts" as var; /* Set root font-size @10px equivalent */

body {
  background: #2d333b;
  color: white;
  height: 100vh;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}

#root {
  height: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

.questionNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

#number {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin-inline: auto;
  background: rgba(98, 116, 248, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  color: white;
  padding: 0.5em;
  border: transparent;
  border-radius: 2em;
}
