@use "./base";
@use "./abstracts" as var; /* Set root font-size @10px equivalent */

body {
  background: #2d333b;
  color: white;
  height: 100vh;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}

#root {
  height: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

.questionNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

#number {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin-inline: auto;
  background: rgba(98, 116, 248, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  color: white;
  padding: 0.5em;
  border: transparent;
  border-radius: 2em;
}

.card-container {
  margin-top: 15em;
  background: rgba(115, 42, 19, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em;
  margin-bottom: 3em;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em;
  margin-top: 3em;

  .btn-prev, .btn-next {
    height: 50px;
    width: 50px;
    background: rgba(98, 116, 248, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    color: white;
    padding: 0.5em;
    border: transparent;
    border-radius: 2em;
  }

  .btn-prev {
    transform: rotate(180deg);
  }
}

.question {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  max-width: 85%;
  margin-inline: auto;
  margin-bottom: 2em;
  font-weight: 300;
}
